.button {
    padding: 15px 30px;
    background: #07A978;
    border-radius: 40px;

    font-family: var(--font-family);
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .1s linear;
    
    &.outline {
        color: #fff;
        border: 1px solid #fff;
        background: none;

        &:hover {
            background: #fff;
            color: #333;
        }
    }

    &:hover {
        background: darken(#07A978, 3%);
    }
}

@media screen and ( max-width: 1400px ) {
    .button {
        padding: 10px 20px;
    }
}