.navbar {
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 2rem auto 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &Link {
        position: relative;
        display: inline-block;
        margin-right: 40px;

        text-decoration: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
        opacity: 0.7;

        &::after {
            content: "";

            position: absolute;
            bottom: -2px;
            right: 0;
            width: 0;
            height: 1px;
            background: rgba($color: #000000, $alpha: .7);
            transition: all .2s linear;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }
    }

    &Menu {
        display: none;

        .navbarLink {
            color: #fff;
            margin: 20px 0;
            font-size: 23px;
            font-weight: 700;
            text-align: right;

            &:after {
                background: #fff;
                height: 2px;
            }
        }

        nav button {
            margin-top: 30px;
            display: none;
        }
    }
}

@media screen and ( max-width: 1300px ) {
    .navbar {
        max-width: 900px;
        padding-right: 50px;

        &Nav {
            div {
                display: none;
            }
        }

        &Menu {
            display: block;
            position: absolute;
            right: 0;
        }
    }
}

@media screen and ( max-width: 991px ) {
    .navbar {
        max-width: 700px;
    }
}

@media screen and ( max-width: 768px ) {
    .navbar {
        max-width: 500px;

        &Nav {
            display: none;
        }

        &Menu {
            nav button {
                display: block;
            }
        }
    }
}

@media screen and ( max-width: 576px ) {
    .navbar {
        max-width: 300px;

        &Menu {
            .navbarLink {
                font-size: 18px;
            }

            nav button {
                margin-top: 15px;
                font-size: 14px;
                padding: 10px;
            }
        }
    }
}